* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
#navbar {
  background: #ffde2f;
  box-shadow: 0 2px 8px 1px rgb(0 0 0 / 20%);
}

#navbar > div {
  width: 85%;
  height: 65px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#img1 {
  width: 87px;
  height: 40px;
  margin: auto;
  margin-right: 25px;
}
#dna {
  display: flex;
}
h4 {
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 54px;
  height: 18px;
  padding: 5px 14px;
  border-radius: 50px;
  color: #000;
  font-size: 12px;
}
h4:hover {
  background: black;
  color: white;
}
#navbar > div > div:nth-child(2) {
  margin: auto;
  margin-right: 0;
}
#img {
  width: 23.99px;
  height: 23.99px;
}

.search-drop {
  display: flex;
  right: 90px;
  top: 42px;
  border: 1px solid #d5d1d1;
  border-radius: 6px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgb(0 0 0 / 16%);
  width: 320px;
  height: 40px;
}
.search-drop > div > input {
  width: 80%;
  outline: 0;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff;
  color: #2c2d31;
  height: 42px;
  margin: auto;
  margin-right: 2px;
}
button {
  width: 50px;
  height: 42px;
  margin-right: 5px;
  background: #313131;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
}
.search-drop {
  display: none;
}
#black > div:hover .search-drop {
  display: block;
  position: absolute;
}
/* top_news_bar */

#top_news {
  width: 85%;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  background-color: #313131;
}
#top_news > div:nth-child(1) {
  width: 15%;
  height: 50px;
  background-color: rgb(196, 193, 193);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
#top_news > div:nth-child(2) {
  width: 75%;
  height: 50px;
  background-color: #313131;
  align-items: center;
  display: flex;
}
#top_news > div:nth-child(3) {
  width: 10%;
  height: 50px;
}

#slideshow > p {
  color: #e3dfdf;
  margin-left: 10px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 15px;
}

#play {
  width: 70%;
  height: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#play > i {
  color: #c7bdbd;
}
#play > i:nth-child(1) {
  font-size: 15px;
  margin-right: 10px;
}
#play > i:nth-child(2) {
  font-size: 20px;
  margin-right: 10px;
  color: white;
}
#play > i:nth-child(3) {
  font-size: 15px;
}

/* sidebar */
#box {
  width: 70%;
  margin-top: 30px;
  margin-left: 85px;
  display: flex;
  justify-content: space-between;
}

#side {
  width: 30%;
}
#side > div {
  display: flex;
  height: 40px;
  align-items: center;
  /* border: 1px solid black; */
}
#side > div:hover {
  background-color: #ffde2f;
}
#side > div > a {
  text-decoration: none;
  color: black;
}
#side > div > img {
  margin-left: 5px;
  width: 50px;
  height: 100%;
}
#side > div > a > p {
  margin-left: 15px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
}

/* Remaing of my Templete */
#navbar {
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
}
#top_news {
  width: 98%;
  height: 60px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#main {
  width: 98%;
  height: auto;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  margin-top: 50px;
}
#side {
  height: auto;
  width: 30%;
  /* border: 1px solid black; */
}
#newsdata {
  height: auto;
  width: 55%;
  /* border: 1px solid black; */
  /* display: flex; */
}
#blank {
  height: auto;
  width: 20%;
  /* border: 1px solid black; */
}
img {
  width: 98%;
  height: 500px;
  padding: 5px;
}
#newsdata h1 {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}
#newsdata h3 {
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #212529;
  margin-bottom: 20px;
}
#newsdata p {
  color: #000;
  line-height: 25px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.first:hover {
  color: rgb(59, 59, 119);
  cursor: pointer;
}
/* ====> Footer <===== */
#main_fotter {
  border: 2px solid rgb(25, 34, 25);
  background-color: rgb(50, 46, 46);
}
.footer {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.images {
  height: 50px;
  width: 100px;
}

.two {
  margin-top: 15px;
}
.two a {
  text-decoration: none;
  color: grey;
}
.footer2 {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image {
  height: 40px;
  width: 90%;
}

.two {
  margin-top: 15px;
}
.two a {
  text-decoration: none;
  color: grey;
}
.you {
  display: block;
  height: 2px;
  color: grey;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.footer3 {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.one1 {
  color: grey;
  margin-top: 10px;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
}
.footer4 {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.one2 {
  color: grey;
}
